<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.creditNote.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{invoice.greeting(${buyerCompanyName})}">
</p>
<p th:text="#{adhoc.creditNote.declaration(${supplierCompanyName},${invoiceNumber},${purchaseOrderNumber},${createdDate})}">
</p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{adhoc.creditNote.subtotal}" style="width: 100px;"> </td>
        <td th:text="#{adhoc.creditNote.addedGST}" style="width:100px"> </td>
        <td th:text="#{adhoc.creditNote.total}" style="width: 100px;"> </td>
    </tr>
    <tr style="font-size: 12px;">
        <td th:text="${subTotal}"> </td>
        <td th:text="${addedGst}"> </td>
        <td th:text="${total}"></td>
    </tr>
</table>
<p th:text="#{adhoc.creditNote.login(@{${baseUrl}})}">
</p>
<p>
    <span th:text="#{email.activation.text2}"> </span>
    <br/>
    <b><em th:text="#{email.signature}"></em></b>
</p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
