<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.cancelPR.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.cancelPR.greeting(${supplierName})}"></p>
<p>
    <span th:text="(${buyerName})" style="font-weight: bold;"></span>
    <span th:text="#{email.cancelPR.text}"> </span>

</p>
<p>
    <span th:text="#{email.cancelPR.reqNumber}"></span>
    <span th:text="(${requirementNumber})"></span>
</p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.cancelPR.itemcode}" style="width:140px"></td>
        <td th:text="#{email.cancelPR.itemname}" style="width: 200px;"></td>
        <td th:text="#{email.cancelPR.itemprice}" style="width: 200px;"></td>
    </tr>
    <tr th:each="item : ${pro}">
        <td th:text="${item.items.itemCode}"></td>
        <td th:text="${item.items.itemName}"> </td>
        <td th:text="${#numbers.formatDecimal(item.price, 0, 3)}"> </td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
