<!DOCTYPE html>
<html lang="en">
<head>
    <title  th:text="#{email.checkoutemail.title(${businessOutletName})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.checkoutemail.greeting(${firstName},${lastName})}">
</p>
<p th:text="#{email.checkoutemail.text(${businessOutletName},${requirementnumber})}"></p>

<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.checkoutemail.itemcode}" style="width: 100px;"> </td>
        <td th:text="#{email.checkoutemail.itemname}" style="width:100px"> </td>
        <td th:text="#{email.checkoutemail.uom}" style="width:100px"> </td>
        <td th:text="#{email.checkoutemail.quantity}" style="width:100px"> </td>
        <td th:text="#{email.checkoutemail.price}" style="width:100px"> </td>
        <td th:text="#{email.checkoutemail.deliverydate} " style="width:150px"></td>
        <td th:text="#{email.checkoutemail.specialrequest}" style="width:150px"></td>
    </tr>
    <tr th:each="processOrder : ${processOrderList}">
        <td th:text="${processOrder.items.itemCode}"> </td>
        <td th:text="${processOrder.items.itemName}"> </td>
        <td th:text="${processOrder.items.uom.name}"> </td>
        <td th:text="${processOrder.quantity}"> </td>
        <td th:text="${processOrder.freeItem}? #{email.checkoutemail.freeItem} : ${#numbers.formatDecimal(processOrder.price, 0, 2)}"> </td>
        <td th:text="${T(com.sgebiz.ezyprocure.webapp.service.util.CommonUtil).formatToSGT(processOrder.deliveryDate)}"></td>
        <td th:text="${processOrder.specialRequest}"> </td>
    </tr>
</table>
<p th:text="#{email.checkoutemail.deliveryAddress(${buyerAddress})}"></p>
<div th:if="${isAdhoc==null}">
<p th:text="#{email.checkoutemail.declaration}"></p>
<p th:text="${url}"></p>
</div>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
