<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title  th:text="#{email.consolidatedReportEmail.title(${reportType},${status})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.consolidatedReportEmail.greeting(${reciever})}">
    Dear
</p>
<p th:text="#{email.consolidatedReportEmail.text(${reportType},${fromDate},${toDate},${status})}"></p>
<div th:if="${fileURL!=null}">
    <span th:text="#{email.consolidatedReportEmail.fileURL}"></span>
    <a th:href="@{${fileURL}}">here</a>
</div>
<div th:if="${fileURL==null}">
    <p th:text="#{email.consolidatedReportEmail.failedMessage}"></p>
</div>

<p>
    <span th:text="#{email.activation.text2}"> </span>
    <br/>
    <b><em th:text="#{email.signature}"></em></b>
</p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
