<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.csvItemsAdded.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.csvItemsAdded.greeting(${firstname},${lastname})}">
</p>
<p th:text="#{email.csvItemsAdded.content(${companyname})}">
</p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.csvItemsAdded.itemcode}" style="width: 100px;"> </td>
        <td th:text="#{email.csvItemsAdded.itemname}" style="width:100px"> </td>
        <td th:text="#{email.csvItemsAdded.uom}" style="width:100px"> </td>
    </tr>
    <tr style="font-size: 12px;" th:each="item : ${items}">
        <td th:text="${item.itemCode}"> </td>
        <td th:text="${item.itemName}"> </td>
        <td th:text="${item.uom.name}"> </td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
