<!DOCTYPE html>
<html lang="en">
<head>
    <title  th:text="#{email.eAuthRequestResponse.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.eAuthRequestResponse.greeting(${user.companyName})}">
</p>
<div th:if="${isApproved=='APPROVED'}">
<p th:text="#{email.eAuthRequestResponse.approved(${sender})}"></p>
</div>
<div th:if="${isApproved=='REJECTED'}">
    <p th:text="#{email.eAuthRequestResponse.rejected(${sender})}"></p>
</div>
<div th:if="${isApproved=='REVERTED'}">
    <p th:text="#{email.eAuthRequestResponse.reverted(${sender})}"></p>
</div>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
