<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{email.failed.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p> The following documents are reflecting as Failure</p>

<div th:if="${isPriority==true}">

<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px; text-align:center ">
        <td th:text="#{email.failed.severity}" style="100px"/>
        <td th:text="#{email.failed.to}" style="100px"/>
        <td th:text="#{email.failed.subject}" style="100px"/>
        <td th:text="#{email.failed.time}" style="100px"/>
        <td th:text="#{email.failed.messageId}" style="100px"/>
        <td th:text="#{email.failed.notes}" style="100px"/>
    </tr>
    <tr th:each="advise:${notificationList}" style="text-align:center">
        <td th:text="${advise[0]}"/>
        <td th:text="${advise[1]}"/>
        <td th:text="${advise[2]}"/>
        <td th:text="${advise[3]}"/>
        <td th:text="${advise[4]}"/>
        <td th:text="${advise[5]}"/>
    </tr>
</table>
</div>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
