<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="(${subject})"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{invoice.greeting(${buyerName})}">
    Dear
</p>
<p th:text="#{email.invoice.declaration(${supplierCompanyName},${deliveryDate},${purchaseOrderNumber})}">
</p>
<p th:text="#{email.invoice.declaration.login(@{${baseUrl}})}">
</p>
<p>
    <span th:text="#{email.activation.text2}"> </span>
    <br/>
    <b><em th:text="#{email.signature}"></em></b>
</p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
