<!DOCTYPE html>
<html lang="en">
<head>
    <title  th:text="#{email.giroUploadToClientSFTP.title(${uploadStatus})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.giroUploadToClientSFTP.greeting}">
</p>
<p th:text="#{email.giroUploadToClientSFTP.text(${T(com.sgebiz.ezyprocure.webapp.service.util.CommonUtil).formatToSGT(date)},${uploadStatus})}"></p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>

