<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.goodsReturn.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.activation.greeting(${user.firstName},${user.lastName})}">
    Dear
</p>
<p th:text="#{email.goodsReturn.declaration(${sender.companyName},@{${baseUrl}})}">
</p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.goodsReturn.ponumber}" style="width: 150px;"> </td>
        <td th:text="#{email.goodsReturn.goodsreturnnumber}" style="width:150px"> </td>
    </tr>
    <tr>
        <td th:text="${purchaseOrderNumber}"> </td>
        <td th:text="${goodsReturnNumber}"> </td>
    </tr>
</table>
<p>
    <span th:text="#{email.activation.text2}"> </span>
    <br/>
    <b><em th:text="#{email.signature}"></em></b>
</p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
