<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.itemsAdded.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.itemsAdded.greeting(${firstname},${lastname})}">
</p>
<p th:text="#{email.itemsAdded.content(${companyname})}">
</p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.itemsAdded.itemcode}" style="width: 100px;"> </td>
        <td th:text="#{email.itemsAdded.itemname}" style="width:100px"> </td>
        <td th:text="#{email.itemsAdded.uom}" style="width:100px"> </td>
    </tr>
    <tr style="font-size: 12px;">
        <td th:text="${items.itemCode}"> </td>
        <td th:text="${items.itemName}"> </td>
        <td th:text="${items.uom.name}"> </td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
