<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{email.approval.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.approval.greeting(${approvalNeededFrom})}">
</p>
<p th:if="${cutOffTime!=null}" th:text="#{email.approval.text(${approvalNumber},${firstName},${lastName},${cutOffTime})}"></p>
<p th:if="${cutOffTime==null}" th:text="#{email.approval.textWithoutCutOffTime(${approvalNumber},${firstName},${lastName})}"></p>

<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
