<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    <p th:text="#{email.reset.greeting(${user.firstName},${user.lastName})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1(${user.login})}">

        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
               th:text="|Click Here|"></a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}"> </span>
            <br/>
           <b> <em th:text="#{email.signature}"></em></b>
        </p>
    <div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
    </body>
</html>
