<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{email.payment.cron.success.title(${country})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.payment.cron.success.greeting(${country})}">
</p>
<p th:text="#{email.payment.cron.success.received (${country})}"></p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.payment.cron.success.buyer.company.name}" style="width:200px"> </td>
        <td th:text="#{email.payment.cron.success.brand.name}" style="width:200px"> </td>
        <td th:text="#{email.payment.cron.success.paymentdate}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.bsf.referenceno}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.bsf.buyer.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.invoice.grand.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.bsf.supplier.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.supplier.company.name}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.payment.model}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.brand.bsf.rate}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.buyer.paid.amount}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.remittance.amount}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.cron.success.currency}" style="width: 140px;"> </td>
    </tr>
    <tr th:each="payment : ${payments}">
        <td th:text="${payment.buyerCompanyName}"></td>
        <td th:text="${payment.brandName}"></td>
        <td th:text="${T(com.sgebiz.ezyprocure.webapp.service.util.CommonUtil).formatToSGT(payment.paymentDate)}"></td>
        <td th:text="${payment.referenceNumber}"></td>
        <td th:text="${payment.buyerBsfTotal}"></td>
        <td th:text="${payment.invoiceGrandTotal}"></td>
        <td th:text="${payment.supplierBsfTotal}"></td>
        <td th:text="${payment.supplierName}"></td>
        <td th:text="${payment.paymentModel}"></td>
        <td th:text="${payment.brandBsfRate}"></td>
        <td th:text="${payment.totalAmountPayable}"></td>
        <td th:text="${payment.remittanceAdvice}"></td>
        <td th:text="${payment.currency}"></td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
