<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{email.payment.success.title(${country})}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:if="${user==null}" th:text="#{email.payment.success.greeting(${country})}"></p>
<p th:if="${user!=null}" th:text="#{email.payment.success.greeting.User(${user.firstName},${user.lastName})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('PAID')} and  ${user==null}" th:text="#{email.payment.success.received.admin (${country})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('FAILED')} and  ${user==null}" th:text="#{email.payment.failed.received.admin (${country})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('FAILED')} and  ${user!=null}" th:text="#{email.payment.failed.received.user(${country})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('PAID')} and  ${user!=null}" th:text="#{email.payment.success.received.user(${country})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('BSF FAILED')} and  ${user==null}" th:text="#{email.payment.bsffailed.received.admin (${country})}"></p>
<p th:if="${PaymentStatus.equalsIgnoreCase('BSF FAILED')} and  ${user!=null}" th:text="#{email.payment.bsffailed.received.user(${country})}"></p>
<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.payment.success.buyer.company.name}" style="width:200px"> </td>
        <td th:text="#{email.payment.success.brand.name}" style="width:200px"> </td>
        <td th:text="#{email.payment.success.paymentdate}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.bsf.referenceno}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.bsf.buyer.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.invoice.grand.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.buyer.paid.amount}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.bsf.supplier.total}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.supplier.company.name}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.payment.model}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.remittance.amount}" style="width: 200px;"> </td>
        <td th:text="#{email.payment.success.currency}" style="width: 140px;"> </td>
        <td th:text="#{email.payment.success.paymentStatus}" style="width: 140px;"> </td>
        <td th:text="#{email.payment.success.mpgsStatus}" style="width: 140px;"> </td>
    </tr>
    <tr th:each="payment : ${payments}">
        <td th:text="${payment.buyerCompanyName}"></td>
        <td th:text="${payment.brandName}"></td>
        <td th:text="${T(com.sgebiz.ezyprocure.webapp.service.util.CommonUtil).formatToSGT(paymentDate)}"></td>
        <td th:text="${payment.referenceNo}"></td>
        <td th:text="${payment.buyerBsfTotal}"></td>
        <td th:text="${payment.invoiceGrandTotal}"></td>
        <td th:text="${payment.totalAmountPayable}"></td>
        <td th:text="${payment.supplierBsfTotal}"></td>
        <td th:text="${payment.supplierName}"></td>
        <td th:text="${payment.paymentModel}"></td>
        <td th:text="${payment.remittanceAdvice}"></td>
        <td th:text="${currency}"></td>
        <td th:text="${payment.paymentStatus}"></td>
        <td th:text="${payment.acquirerMessage}"></td>
    </tr>
    <tr>
        <td colspan="4"><b th:text="#{email.payment.success.grand.total}"></b></td>
        <td><b  th:text="${#aggregates.sum(payments.![buyerBsfTotal])}"></b></td>
        <td><b  th:text="${#aggregates.sum(payments.![invoiceGrandTotal])}"></b></td>
        <td><b  th:text="${#aggregates.sum(payments.![totalAmountPayable])}"></b></td>
        <td><b  th:text="${#aggregates.sum(payments.![supplierBsfTotal])}"></b></td>
        <td colspan="2"/>
        <td><b th:text="${#aggregates.sum(payments.![remittanceAdvice])}"></b></td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
