<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{email.rejectpocancellation.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.rejectpocancellation.greeting(${buyerName})}"> </p>
<p  th:text="#{email.rejectpocancellation.text}"></p>
<p>
    <span th:text="#{email.rejectpocancellation.suppliername}"> </span>
    <span th:text="(${supplierName})"> </span>
</p>
<p>
    <span th:text="#{email.rejectpocancellation.ponumber}"> </span>
    <span th:text="(${purchaseOrderNumber})"> </span>
</p>
<p>
    <span th:text="#{email.rejectpocancellation.reason}"> </span>
    <span th:text="(${supplierRemark})"> </span>
</p>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
