<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.buyer.supplier.map}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.buyer.supplier.greeting (${buyerUser.firstName},${buyerUser.lastName})}"></p>

<p th:text="#{email.buyer.supplier.text1 (${supplier.companyName})}"></p>

<p th:text="#{email.buyersupplierunmap.text2}">

</p>
<p th:text="#{email.buyersupplierunmap.text3}">

</p>

<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
