<!DOCTYPE html>
<html lang="en">
<head>
    <title th:text="#{email.approvepurchaseorder.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.approvepurchaseorder.greeting(${firstname},${lastname})}">
</p>
<p th:text="#{email.approvepurchaseorder.content(${companyName},${requirementNumber},${purchaseOrderNumber})}"></p>

<table>
    <tr style="background: #000000 ; color:#ffffff ; font-size: 12px;">
        <td th:text="#{email.approvepurchaseorder.itemcode}" style="width: 100px;"> </td>
        <td th:text="#{email.approvepurchaseorder.itemname}" style="width:100px"> </td>
        <td th:text="#{email.supplierdemandmodified.price}" style="width:100px"> </td>
        <td th:text="#{email.supplierdemandmodified.quantity}" style="width:100px"> </td>
        <td th:text="#{email.supplierdemandmodified.deliverydate}" style="width:100px"> </td>
        <td th:text="#{email.checkoutemail.specialrequest}" style="width:200px"> </td>
    </tr>
    <tr th:each="processOrder : ${processOrderList}">
        <td th:text="${processOrder.items.itemCode}"> </td>
        <td th:text="${processOrder.items.itemName}"> </td>
        <td th:text="${#numbers.formatDecimal(processOrder.price, 0, 2)}"> </td>
        <td th:text="${processOrder.quantity}"> </td>
        <td th:text="${T(com.sgebiz.ezyprocure.webapp.service.util.CommonUtil).formatToSGT(processOrder.deliveryDate)}"> </td>
        <td th:text="${processOrder.specialRequest}"> </td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
