<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title th:text="#{email.success.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="#{email.create.text}"></p>

<table>
    <tr style="background: #E6E6FA ; color:#000000 ; font-size: 12px; text-align:center ">
        <td th:text="#{email.user.name}" style="width:100px" />
        <td th:text="#{email.user.email}" style="width:100px" />
        <td th:text ="#{email.user.created}" style="width:200px"/>
    </tr>
    <tr style="background: #E6E6FA ; color:#000000 ; font-size: 12px; text-align:center ">
        <td th:text="${username}"></td>
        <td th:text="${email}"></td>
        <td th:text="${createdDate}"> </td>
    </tr>
</table>
<div lang="en" th:replace="fragments/footer :: ${footer}"> </div>
</body>
</html>
